@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #101828;
  --color-primary: #004488;
  --color-secondary: #F5F5F5;
  --color-accent: #333333;
  --font-sans: 'Montserrat';
}

element::-webkit-scrollbar {
  display: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Custom styles for Tiptap editor content */
.ProseMirror h1 {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.ProseMirror p {
  font-size: 1.125rem; /* Adjust as needed */
  line-height: 1.6;
  margin-bottom: 1rem;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* Indent for bullet points */
  margin-bottom: 1rem;
}

.ProseMirror ul li {
  font-size: 1.125rem; /* Adjust as needed */
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.ProseMirror strong {
  font-weight: bold;
}